<html>
<head>
  <meta charset="utf-8">
  <title>Johnny-Five: API Documentation</title>
  <meta name="description" content="Johnny-Five is an Open Source IoT and robotics programming framework">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fonts" content="css/type.css">

  <script src="js/fontloader.js" id="fontloader"></script>
  <script src="js/anchor.min.js" id="anchor.js"></script>
  <script src="js/es6-shim.js" id="es6-shim.js"></script>

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/anchor.css">

  <link href="favicon.ico" rel="icon">

</head>
<body>

  <div class="mast">
    <nav class="nav-primary wrapper icon-j5">

      <picture class="j5-icon">
        <source type="image/svg+xml" srcset="img/js-logo.svg">
        <img src="img/js-logo.png">
      </picture>

      <a href="/index.html">Home</a>
      <a href="/api.html" class="current">API Documentation</a>
      <a href="/examples.html">Examples</a>
      <a href="/articles.html">Articles</a>
      <a href="/platform-support.html">Platform Support</a>
    </nav>

    <header role="banner" class="banner">
     <h1 class="site-hed">API Documentation</h1>
    </header>
  </div>

  <main class="central docs">
    <div class="wrap-a wrap-docs list-docs">

      <div class="docs-content docs-guides">
        <h3>Guides</h3>

        <%= guides %>
      </div>

      <nav id="api-nav" class="docs-nav api-nav-list">
        <h3>Component Classes</h3>
        <%= list %>
      </nav>

    </div>
  </main>
  <div class="social">
    <a href="https://www.youtube.com/results?search_query=nodebots" class="yt-icon"><img src="../img/yt-icon.png"></a>
    <a href="https://twitter.com/rwaldron/lists/nodebotics" class="twitter-icon"><img src="../img/twitter-icon.png"></a>
  </div>

<script src="js/main.js"></script>
</body>
</html>
