<html>
<head>
  <meta charset="utf-8">
  <title>Johnny-Five: Articles</title>
  <meta name="description" content="Johnny-Five is an Open Source IoT and robotics programming framework">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fonts" content="/css/type.css">

  <script src="/js/fontloader.js" id="fontloader"></script>
  <script src="/js/anchor.min.js" id="anchor.js"></script>
  <script src="/js/es6-shim.js" id="es6-shim.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/anchor.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">

  <link href="favicon.ico" rel="icon">

</head>
<body>

  <div class="mast">
    <nav class="nav-primary wrapper icon-j5">
      <%= navigation %>
    </nav>

    <header role="banner" class="banner">
     <h1 class="site-hed">Articles</h1>
    </header>
  </div>

  <main class="central docs">
    <div class="wrap-a wrap-docs articles-docs">

      <h3><a href="http://bocoup.com/">Bocoup</a></h3>

      <ul class="recent-posts listless">

        <li>

          <a href="http://bocoup.com/weblog/customizing-the-robotsconf-sumobot-with-johnny-five/" title="Customizing the RobotsConf Sumobot with Johnny-Five" rel="bookmark">
            Customizing the RobotsConf Sumobot with Johnny-Five
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/controlling-the-robotsconf-sumobot-with-arduino-uno-johnny-five/" title="Controlling the RobotsConf Sumobot with Arduino Uno & Johnny-Five" rel="bookmark">
            Controlling the RobotsConf Sumobot with Arduino Uno & Johnny-Five
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/controlling-the-robotsconf-sumobot-with-spark-core-johnny-five/" title="Controlling the RobotsConf Sumobot with Spark Core & Johnny-Five" rel="bookmark">
            Controlling the RobotsConf Sumobot with Spark Core & Johnny-Five
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/controlling-the-robotsconf-sumobot-with-electric-imp-johnny-five/" title="Controlling the RobotsConf Sumobot with Electric Imp & Johnny-Five" rel="bookmark">
            Controlling the RobotsConf Sumobot with Electric Imp & Johnny-Five
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/assembling-preparing-robotsconf-sumobot-with-johnny-five/" title="Assembling and Preparing the RobotsConf Sumobot with Johnny-Five" rel="bookmark">
            Assembling and Preparing the RobotsConf Sumobot with Johnny-Five
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/intel-galileo-autonomous-navigation-rover/" title="Intel Galileo: Autonomous Navigation Rover with JavaScript" rel="bookmark">
            Intel Galileo: Autonomous Navigation Rover with JavaScript
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-arduino-digital-clock-johnny-five/" title="A Digital Clock with Johnny-Five" rel="bookmark">
            A Digital Clock with Johnny-Five
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-current-detection-with-johnny-five/" title="Current Detection and Measurement with Johnny-Five on Node.js" rel="bookmark">
            Current Detection and Measurement with Johnny-Five on Node.js
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-led-matrix-display-with-johnny-five/" title="LED Matrix Display with Johnny-Five on Node.js" rel="bookmark">
            LED Matrix Display with Johnny-Five on Node.js
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-programming-esc-brushless-motor/" title="ESC Programming and Brushless Motors on Intel Galileo" rel="bookmark">
            ESC Programming and Brushless Motors on Intel Galileo
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-laser-intrusion-detection-with-johnny-five/" title="Laser Intrusion Detection with Johnny-Five on Node.js" rel="bookmark">
            Laser Intrusion Detection with Johnny-Five on Node.js
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-verifying-analog-write-on-galileo/" title="Verifying Analog Write on Intel Galileo" rel="bookmark">
            Verifying Analog Write on Intel Galileo
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-relay-with-johnny-five/" title="Relay Control with Johnny-Five on Node.js" rel="bookmark">
            Relay Control with Johnny-Five on Node.js
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-tilt-sensor-with-johnny-five/" title="Tilt Sensor with Johnny-Five on Node.js" rel="bookmark">
            Tilt Sensor with Johnny-Five on Node.js
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/intel-galileo-javascript-nodejs/" title="On-Board: Intel Galileo Programming with JavaScript and Node.js" rel="bookmark">
            On-Board: Intel Galileo Programming with JavaScript and Node.js
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-arduino-kinect-robot-arm/" title="Arduino, Kinect Controlled Robot Arm" rel="bookmark">
            Arduino, Kinect Controlled Robot Arm
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/bocoup-on-air-robots-johnny-five/" title="Bocoup on Air: Making Robots with JavaScript" rel="bookmark">
            Bocoup on Air: Making Robots with JavaScript
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/getting-bitwise-with-javascript/" title="Getting Bitwise with JavaScript" rel="bookmark">
            Getting Bitwise with JavaScript
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-arduino-bumper-switch-controlling-led-tutorial/" title="Arduino Bumper Switch Controlling a Led Tutorial" rel="bookmark">
            Arduino Bumper Switch Controlling a Led Tutorial
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-arduino-slide-controlling-servo-tutorial/" title="Arduino Slide Controlling a Servo Tutorial" rel="bookmark">
            Arduino Slide Controlling a Servo Tutorial
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-arduino-servo-control-tutorial/" title="Arduino Servo Control Tutorial" rel="bookmark">
            Arduino Servo Control Tutorial
          </a>
        </li>
        <li>
          <a href="http://bocoup.com/weblog/javascript-arduino-programming-with-nodejs/" title="Arduino Programming on Node.js" rel="bookmark">
            Arduino Programming on Node.js
          </a>
        </li>
      </ul>

      <h3><a href="http://node-ardx.org/">Node-Ardx</a></h3>

      <ul>
        <li>
          <a href="http://node-ardx.org//exercises/1">Getting Started</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/2">8 LED Fun</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/3">Spin Motor Spin</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/4">A Single Servo</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/5">8 More LEDs</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/6">Music</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/7">Button Pressing</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/8">Twisting</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/9">Light</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/10">Temperature </a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/11">Larger Loads</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/12">Colorful Light</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/13">Measuring Bends</a>
        </li>
        <li>
          <a href="http://node-ardx.org//exercises/14">Fancy Sensing</a>
        </li>

      </ul>

      <h3><a href="http://www.reddit.com/r/NodeBots/">Reddit</a></h3>

      <%=reddit%>

    </div>
  </main>

  <%= footer %>

</body>
</html>
