<html>
<head>
  <meta charset="utf-8">
  <title>Johnny-Five: Examples</title>
  <meta name="description" content="Johnny-Five is an Open Source IoT and robotics programming framework">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fonts" content="/css/type.css">

  <script src="/js/fontloader.js" id="fontloader"></script>
  <script src="/js/anchor.min.js" id="anchor.js"></script>
  <script src="/js/es6-shim.js" id="es6-shim.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/anchor.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

</head>
<body>

  <div class="mast">
    <nav class="nav-primary wrapper icon-j5">
      <%= navigation %>
    </nav>

    <header role="banner" class="banner">
     <h1 class="site-hed">Examples</h1>
    </header>
  </div>

  <main class="central docs">
    <div class="wrap-a wrap-docs list-docs">
      <div class="docs-content">
        <h3>Hello World! <span class="no-show-on-desktop">(<a href="#list-of-examples">See more</a>)</span> </h3>
              <pre><code class="language-javascript">var five = require(&quot;johnny-five&quot;);
var board = new five.Board();

board.on(&quot;ready&quot;, function() {

  // Create a standard `led` component instance
  var led = new five.Led(13);

  // &quot;blink&quot; the led in 500ms on-off phase periods
  led.blink(500);
});

</code></pre>
<p><img src="../img/breadboard/led-13.png" alt="led-13.png"></p>
      </div>
      <nav id="list-of-examples" class="docs-nav api-nav-list">
        <%= list %>
      </nav>
    </div>
  </main>

  <%= footer %>


</body>
</html>
