<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>JavaScript Robotics Examples (Johnny-Five)</title>
  <meta property="og:title" content="JavaScript Robotics Examples (Johnny-Five)">
  <meta property="og:url" content="http://johnny-five.io/examples/">
  <%= header %>
</head>
<body>

  <div class="mast">
    <nav class="nav-primary wrapper icon-j5">
      <%= navigation %>
    </nav>

    <header role="banner" class="banner">
     <h1 class="site-hed"><span>Examples</span></h1>
    </header>
  </div>

  <main class="central docs">
    <div class="wrap-a wrap-docs list-docs">
      <div class="docs-content">
        <h3>Hello World! <span class="no-show-on-desktop">(<a href="#list-of-examples">See more</a>)</span> </h3>
              <pre><code class="language-javascript">const { Board, Led } = require(&quot;johnny-five&quot;);
const board = new Board();

board.on(&quot;ready&quot;, () => {

  // Create a standard `led` component instance
  const led = new Led(13);

  // &quot;blink&quot; the led in 500ms
  // on-off phase periods
  led.blink(500);
});

</code></pre>
<p><img src="../img/breadboard/led-13.png" alt="led-13.png"></p>
      </div>
      <nav id="list-of-examples" class="docs-nav api-nav-list">
        <%= list %>
      </nav>
    </div>
  </main>

  <%= footer %>


</body>
</html>
