  <meta property="og:site_name" content="Johnny-Five">
  <meta property="og:image" content="http://johnny-five.io/img/static/johnny-five-fb.png">
  <meta property="og:description" content="Johnny-Five is the original JavaScript Robotics &amp; IoT Platform. Released by Bocoup in 2012, Johnny-Five is maintained by a community of passionate software developers and hardware engineers. Over 75 developers have made contributions towards building a robust, extensible and composable ecosystem.">

  <meta name="description" content="Johnny-Five is the JavaScript Robotics &amp; IoT Platform <%= description %>">
  <meta name="keywords" content="JavaScript, Robotics<%= keywords %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fonts" content="/css/type.css">


  <link rel="stylesheet" href="/css/styles.css?v1">
  <link rel="stylesheet" href="/css/anchor.css?v1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">

  <script src="/js/fontloader.js" id="fontloader"></script>
  <script src="/js/anchor.js" id="anchor.js"></script>
  <script src="/js/es6-shim.js" id="es6-shim.js"></script>

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
