<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>JavaScript Robotics News (Johnny-Five)</title>
  <meta property="og:title" content="JavaScript Robotics News (Johnny-Five)">
  <meta property="og:url" content="http://johnny-five.io/news/">
  <%= header %>
</head>
<body>

  <div class="mast">
    <nav class="nav-primary wrapper icon-j5">
      <%= navigation %>
    </nav>

    <header role="banner" class="banner">
     <h1 class="site-hed"><span>News</span></h1>
    </header>
  </div>

  <main class="central docs">
    <div class="wrap-a wrap-docs list-docs">

      <div class="docs-content docs-guides">
        <%= latest %>
      </div>

      <nav id="api-nav" class="docs-nav api-nav-list">
        <%= list %>
      </nav>

    </div>
  </main>

  <%= footer %>

</body>
</html>
