<html>
<head>
  <meta charset="utf-8">
  <title>Johnny-Five: Platform Support</title>
  <meta name="description" content="Johnny-Five is an Open Source IoT and robotics programming framework">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fonts" content="/css/type.css">

  <script src="/js/fontloader.js" id="fontloader"></script>
  <script src="/js/anchor.min.js" id="anchor.js"></script>
  <script src="/js/es6-shim.js" id="es6-shim.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/anchor.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">


</head>
<body>

  <div class="mast">
    <nav class="nav-primary wrapper icon-j5">
      <%= navigation %>
    </nav>

    <header role="banner" class="banner">
     <h1 class="site-hed">Platform Support</h1>
    </header>
  </div>

  <main class="central docs">
    <div class="wrap-a wrap-docs">

        <p>Johnny-Five has been tested with a variety of Arduino-compatible Boards. For non-Arduino based projects, platform-specific IO Plugins are available. IO Plugins allow Johnny-Five code to communicate with any hardware in whatever language that platform speaks!</p>

        <div class="platform-icons-support-page">
          <p><a href="/platform-support/#arduino-uno"><img src="/img/platforms/arduino-uno.png" alt="Arduino Uno"></a>
<a href="/platform-support/#arduino-leonardo"><img src="/img/platforms/arduino-leo.png" alt="Arduino Leonardo"></a>
<a href="/platform-support/#arduino-mega"><img src="/img/platforms/arduino-mega.png" alt="Arduino Mega"></a>
<a href="/platform-support/#arduino-fio"><img src="/img/platforms/arduino-fio.png" alt="Arduino Fio"></a>
<a href="/platform-support/#arduino-micro"><img src="/img/platforms/arduino-micro.png" alt="Arduino Micro"></a>
<a href="/platform-support/#arduino-mini"><img src="/img/platforms/arduino-mini.png" alt="Arduino Mini"></a>
<a href="/platform-support/#arduino-nano"><img src="/img/platforms/arduino-nano.png" alt="Arduino Nano"></a>
<a href="/platform-support/#arduino-pro-mini"><img src="/img/platforms/arduino-pro-mini.png" alt="Arduino Pro Mini"></a>
<a href="/platform-support/#botboarduino"><img src="/img/platforms/botboarduino.png" alt="BotBoarduino"></a>
<a href="/platform-support/#spider-robot-controller"><img src="/img/platforms/spider-robot-controller.png" alt="Spider Robot Controller"></a>
<a href="/platform-support/#dfrobot-romeo"><img src="/img/platforms/dfrobot-romeo.png" alt="DFRobot Romeo"></a>
<a href="/platform-support/#teensy-3"><img src="/img/platforms/teensy-3.png" alt="Teensy 3"></a>
<a href="/platform-support/#beaglebone-black"><img src="/img/platforms/beaglebone-black.png" alt="BeagleBone Black"></a>
<a href="/platform-support/#blend-micro-v1.0"><img src="/img/platforms/blend-micro-v1.png" alt="Blend Micro v1.0"></a>
<a href="/platform-support/#electric-imp-april"><img src="/img/platforms/electric-imp-april.png" alt="Electric Imp April"></a>
<a href="/platform-support/#intel-galileo-gen-1"><img src="/img/platforms/intel-galileo-gen1.png" alt="Intel Galileo Gen 1"></a>
<a href="/platform-support/#intel-galileo-gen-2"><img src="/img/platforms/intel-galileo-gen2.png" alt="Intel Galileo Gen 2"></a>
<a href="/platform-support/#intel-edison-arduino"><img src="/img/platforms/intel-edison-arduino.png" alt="Intel Edison Arduino"></a>
<a href="/platform-support/#intel-edison-mini"><img src="/img/platforms/intel-edison-mini.png" alt="Intel Edison Mini"></a>
<a href="/platform-support/#lightblue-bean"><img src="/img/platforms/light-blue-bean.png" alt="LightBlue Bean"></a>
<a href="/platform-support/#linino-one"><img src="/img/platforms/linino-one.png" alt="Linino One"></a>
<a href="/platform-support/#pcduino3-dev-board"><img src="/img/platforms/pcduino3.png" alt="pcDuino3 Dev Board"></a>
<a href="/platform-support/#pinoccio-scout"><img src="/img/platforms/pinoccio.png" alt="Pinoccio Scout"></a>
<a href="/platform-support/#raspberry-pi-2-model-b"><img src="/img/platforms/raspberry-pi-2-model-b.png" alt="Raspberry Pi 2 Model B"></a>
<a href="/platform-support/#raspberry-pi-model-a-plus"><img src="/img/platforms/raspberry-pi-model-a-plus.png" alt="Raspberry Pi Model A Plus"></a>
<a href="/platform-support/#raspberry-pi-model-b-plus"><img src="/img/platforms/raspberry-pi-model-b-plus.png" alt="Raspberry Pi Model B Plus"></a>
<a href="/platform-support/#raspberry-pi-model-b-rev-1"><img src="/img/platforms/raspberry-pi-model-b-rev-1.png" alt="Raspberry Pi Model B Rev 1"></a>
<a href="/platform-support/#raspberry-pi-model-b-rev-2"><img src="/img/platforms/raspberry-pi-model-b-rev-2.png" alt="Raspberry Pi Model B Rev 2"></a>
<a href="/platform-support/#spark-core"><img src="/img/platforms/spark-core-white.png" alt="Spark Core"></a></p>
      </div>

      <%= contents %>
    </div>
  </main>


  <%= footer %>

</body>
</html>
