<div class="wrap-d platforms">
  <img id="platform-variant-large" src="/img/platforms/<%= image %>" class="thumb">
  <div class="variant">
    <h2 class="sec-hed"><%= name %></h2>
    <img id="platform-variant-small" src="/img/platforms/<%= image %>" class="thumb">
    <ul>
    <% if (pluginName) { %>
      <li>IO Plug-in: <a href="<%= pluginUrl %>"><%= pluginName %></a>
        <% if (pluginInstructions) { %>
        (<a href="<%= pluginInstructions %>">additional instructions</a>)
        <% } %>
      </li>
    <% } %>
    <% if (envName) { %>
      <li>Firmware/Runtime: <a href="<%= envUrl %>"><%= envName %></a>
        <% if (envInstructions) { %>
        (<a href="<%= envInstructions %>">additional instructions</a>)
        <% } %>
      </li>
      <li>
        <%= envRelationship %>
      </li>
    <% } %>

    </ul>

    <%= capabilitiesA %>
    <%= capabilitiesB %>

    <!-- <span>Note</span> -->
  </div>

</div>
