<div class="wrap-d platforms" data-filters='["relationship"]' data-relationship="<%= relationship %>">
  <img src="/img/platforms/<%= image %>" class="platform-variant-large thumb">
  <div class="variant" data-variant-name="<%= name %>">
    <h2 class="sec-hed"><%= name %></h2>
    <img src="/img/platforms/<%= image %>" class="platform-variant-small thumb">

    <div class="env-details">
      <h4 class="sec-hed">Environment</h4>
      <ul>
      <% if (pluginName) { %>
        <li>IO Plug-in: <a href="<%= pluginUrl %>" target="_blank"><%= pluginName %></a>
          <% if (pluginInstructions) { %>
          (<a href="<%= pluginInstructions %>">additional instructions</a>)
          <% } %>
        </li>
      <% } %>
      <% if (envName) { %>
        <li>Firmware/Runtime: <a href="<%= envUrl %>" target="_blank"><%= envName %></a>
          <% if (envInstructions) { %>
          (<a href="<%= envInstructions %>">additional instructions</a>)
          <% } %>
        </li>
        <li>
          <%= envRelationship %>
        </li>
      <% } %>
      </ul>

      <% if (information.length) { %>
        <h4 class="sec-hed">Platform Specific</h4>
        <ul>
        <% information.forEach(function(item) { %>
          <li>
            <%=item%>
          </li>
        <% }); %>
        </ul>
      <% } %>
    </div>


    <%= capabilitiesB %>

    <span class="platform-variant-notes">
      &nbsp;
    </span>
  </div>

</div>
