<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>JavaScript Robotics Platform Support (Johnny-Five)</title>
  <meta property="og:title" content="JavaScript Robotics Platform Support (Johnny-Five)">
  <meta property="og:url" content="http://johnny-five.io/platform-support/">
  <%= header %>
</head>
<body>

  <div class="mast">
    <nav class="nav-primary wrapper icon-j5">
      <%= navigation %>
    </nav>

    <header role="banner" class="banner">
     <h1 class="site-hed"><span>Platform Support</span></h1>
    </header>
  </div>

  <main class="central docs">
    <div class="wrap-a wrap-docs">

        <p>Johnny-Five has been tested with a variety of Arduino-compatible Boards. For non-Arduino based projects, platform-specific IO Plugins are available. <a href="https://github.com/rwaldron/io-plugins">IO Plugins</a> allow Johnny-Five code to communicate with any hardware in whatever language that platform speaks!</p>

        <div class="platform-icons-support-page">
          <%= platforms %>
      </div>

      Filter platforms by where the Johnny-Five program runs:

      <ul id="platform-filters">
        <li><a href="#relationship:all" data-filter-value="all" data-filter-key="relationship">On all!</a></li>
        <li><a href="#relationship:embedded" data-filter-value="embedded" data-filter-key="relationship">In an on-board Linux environment.</a></li>
        <li><a href="#relationship:host-client" data-filter-value="host-client" data-filter-key="relationship">On a host machine tethered (via Serial USB or Ethernet) to a client.</a></li>
        <li><a href="#relationship:host-client-wifi" data-filter-value="host-client-wifi" data-filter-key="relationship">On a host machine communicating over Wifi to the  client.</a></li>
        <li><a href="#relationship:host-client-bluetooth" data-filter-value="host-client-bluetooth" data-filter-key="relationship">On a host machine communicating over Bluetooth to the  client.</a></li>
      </ul>


      <%= contents %>
    </div>
  </main>


  <%= footer %>

</body>
</html>
